
body {
 
    z-index: 1;
    background-color: hsla(0,0%,100%,0.70);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  
}



a:link, a:visited {
    color: black;
    padding: 14px 25px;
    text-align: center;
    color:$main;
    transition:.5s ease;
    text-decoration: none;
    display: inline-block;
}
/* ul {
    list-style-type: circle;
    list-style-position: outside;
    padding: 200px;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}  */
/* .accordion-title span  {	
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-writing-mode: lr-tb;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    margin-bottom: 0px;
    line-height: 40px;
}

.accordion-content {
    background-color: #ffffff;
    color: #4c5157;
    height: 144px;
    width: 764px;
    padding: 33px;
} */ 
