
body {
 
    z-index: 1;
    background-color: hsla(0,0%,100%,0.70);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  
}

.form {
 background: url(https://media.tenor.com/images/d38ab72dcd72dabfc6e6b80f6efbc638/tenor.gif);
  height: 200%;
  width: 100%;
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:$br;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);
}

.nav {
  
}
.logo {
 
}
#root {
  min-height: 100%
}

a:link, a:visited {
    color: black;
    padding: 14px 25px;
    text-align: center;
    color:$main;
    transition:.5s ease;
    text-decoration: none;
    display: inline-block;
}
ul {
    list-style-type: circle;
    list-style-position: outside;
    padding: 20px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} 
